{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true
    }
  },
  "rules": {
    "accessor-pairs": "error",
    "block-scoped-var": "error",
    "camelcase": "error",
    "consistent-this": ["error", "self"],
    "constructor-super": "error",
    "curly": "error",
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "func-names": ["error", "never"],
    "func-style": ["error", "declaration", {
      "allowArrowFunctions": true
    }],
    "guard-for-in": "error",
    "indent": ["error", 2],
    "linebreak-style": 0,
    "lines-around-comment": "warn",
    "newline-after-var": "warn",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-div-regex": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-mixed-requires": "error",
    "no-multi-str": "error",
    "no-nested-ternary": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-path-concat": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-sync": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-use-before-define": "error",
    "no-useless-call": "error",
    "no-with": "error",
    "operator-assignment": "error",
    "prefer-const": "error",
    "radix": "error",
    "keyword-spacing": "error",
    "spaced-comment": "warn",
    "strict": ["error", "function"],
    "vars-on-top": "error",
    "yoda": "error",
    "no-console": "off",
    "no-debugger": "error"
  }
}